body {
    background-image: url(https://bogatyr.club/uploads/posts/2023-01/thumbs/1674804682_bogatyr-club-p-zvezdnoe-nebo-chernoe-fon-pinterest-55.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border: solid rgb(255, 236, 33) 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 30px 0 30px 0;
}

.heroes {
    border-radius: 10px;
    border: solid rgb(255, 236, 33) 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 30px 0 30px 0;
    width: 300px;
    z-index: 2;
    margin: 100px 0 0 200px;
}

.planet {
    font-size: 30px;
    margin: 20px;
}

img {
    width: 100px;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: solid rgb(255, 236, 33) 2px;
    background-color: inherit;
    cursor: pointer;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 0 0 0 5px;
    margin-top: auto;
}

.conteiner {
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px 0 20px 0;
}

.text {
    width: 250px;
    margin: none;
}

.films {
    margin: 0;
    color: rgb(248, 200, 26);
}

.hero {
    font-weight: bold;
}

.hidden {
    display: none;
}

